.logo {
  width: 15%;
  position: absolute;
  left: -15px;
  top: -50px;
}
@media (max-width: 1000px) {
  .logo {
    width: 12%;
    position: absolute;
    left: 5px;
    top: -25px;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 12%;
    position: absolute;
    left: 5px;
    top: -20px;
  }
}
@media (max-width: 700px) {
  .logo {
    width: 12%;
    position: absolute;
    left: 5px;
    top: -18px;
  }
}
