.Map {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: -420px;
  left: -10px;
  filter: drop-shadow(10px 10px 10px rgb(58, 57, 57));
  height: fit-content;
}

.map-img {
  width: 1020px;
  height: auto;
  cursor: pointer;

  padding: -50px;
}

.box {
  font-size: 50px;
  text-align: center;
}
.data-box {
  width: 200px;
  position: absolute;
  top: 400px;
  left: 200px;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(5px 5px 5px rgb(58, 57, 57));
}
.data-box:hover {
  width: 250px;
  opacity: 0.8;
}
.title {
  width: 300px;
  font-size: 10px;
}
.title-text {
  font-size: 30px;
  fill: #fff;
  text-align: center;
}

.arrow {
  animation: dash 100s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
