.Map {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: -280px;
  left: -10px;
  filter: drop-shadow(10px 10px 10px rgb(58, 57, 57));
}

.map-img {
  width: 900px;
  height: auto;
  cursor: pointer;

  padding: -50px;
}

.box {
  font-size: 50px;
  text-align: center;
}
.data-box {
  width: 200px;
  position: absolute;
  top: 400px;
  left: 200px;
  transition: all 200ms ease-in-out;
  filter: drop-shadow(5px 5px 5px rgb(58, 57, 57));
}
.data-box:hover {
  width: 250px;
  opacity: 0.8;
}

.arrow {
  animation: dash 100s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.city-circle {
  stroke-width: 10px;
}
@media (max-width: 1000px) {
  .map-img {
    width: 750px;
  }

  .Map {
    position: absolute;
    top: -250px;
    left: -20px;
  }
}

@media (max-width: 900px) {
  .map-img {
    width: 560px;
  }

  .Map {
    position: absolute;
    top: -170px;
    left: -20px;
  }
}
