.App {
  display: flex;
}
.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
}
.heading {
  text-align: left;
  margin-top: 30px;
  color: #e4e2dc;
  font-size: 36px;
  text-decoration: underline;
  margin-left: 10px;
  text-shadow: 2px 2px 2px black;
}
@media (max-width: 1180px) {
  .heading {
    font-size: 26px;
    margin-left: 20px;
  }
}
